name: prettier

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Prettify code
        uses: creyD/prettier_action@v4.6
        with:
          prettier_plugins: 'prettier-plugin-solidity'
          prettier_options: '--check **/*.{sol,md,js}'
